.header{
    background-color: #4A4A48;
    height: 90px;
}

.header h3 {
    line-height: 90px;
    color: white;
}

.pantalla {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
}

.asientos{
    margin-top: 20px;
}

.footer-color {
    background-color: #4A4A48;
}